<h1>Welcome!</h1>

<p>This is the Postit template. You've access the PostsController, index action. <br> This is the index template. Find me under app/views/posts folder.</p>
<p>This is the Postit template. You've access the PostsController, index action. <br> This is the index template. Find me under app/views/posts folder.</p>
<p>This is the Postit template. You've access the PostsController, index action. <br> This is the index template. Find me under app/views/posts folder.</p>

